.CardContainer{
    background-color: white;
    padding:20px;
    width:18%;
    // height:20%;
    display:flex;
    flex-direction: column;
    gap:20px;
    color:white;
    border-radius: 25px;
}
.cardDetails{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.CardIcon{
    font-size: 30px;
    color:white;
}
.StatusCount{
    font-size: 50px;
    font-weight: 900;
}
.StatusTitle{
    font-weight: 700;
}
.activeCard{
    // background: rgb(75, 139, 199);
    border: 2px solid grey;
    // width:19%;
    // height:105%;
    // box-shadow:3px 3px 0 rgb(87, 171, 250);
}
.approved{
    background-color: #73cf8d;
}
.pending{
    background-color: #C2CAD0;
}
.processing{
    background-color: #C2B9B0;
}
.ManagerRejected{
    background-color: #7E685A;
}
.AdminRejected{
    background-color: #E7717D;
}
